body{
	font-family: Arial;
	background-color: rgba(249, 250, 250, 0.83);
}

input[type=range]{
    -webkit-appearance:none;
    border:1px solid white;
    width:40%;	
}

input[type=range]::-webkit-slider-runnable-track{
   width:80%;
   height:80%;
   background:#ddd;
   border:none;
   border-radius:5px; 
}

input[type=range]::-webkit-slider-thumb{
	-webkit-appearance:none;
	border:none;
	height:16px;
	width:16px;
	border-radius:50%;
	background:rgba(63, 127, 191, 1);	
}

input[type=range]:focus{
	outline:none;
}

input[type=range]:focus:-webkit-slider-runnable-track{
	background:#ccc;
}


.node {
    stroke: #fff;
	opacity:0.9;
    stroke-width: 1.5px;
}

.link {
    stroke: #999999;
    stroke-opacity: .9;
	stroke-width:2px;
}

text {
  font: 10px Helvetica;
  pointer-events: none;
  stroke-width:1px;
  stroke:black;
}

#container{
	clear: both;
	float: right;
	width: 100%;
	height: 100%;
	top: 20%;
	right:-40%;
	position:absolute;
}

#header{
	text-align: center;
	background-color: rgba(26, 139, 239, 0.6);
	color: black;
	font-family: "Helvetica";
	height: 7%;
	width: 100%;
	padding: 0.5%;
	position: absolute;
	top: 0;
	left: 0;
}

#introduction{
	float: left;
	width: 40%;
	text-align: justify;
	padding: 1% 0.2%;
	top: 8%;
	position: absolute;
}

#dropdown{
	float: left;
	top: 28%;
	padding: 1% 0.2%;
	display:inline-block;
	position: absolute;
	width: 40%;
	height: 20%
}

#sliderbar{
		top: 30%;
		left: 0.2%;
	
}
#options{
	float: left;
	margin-left:0.2%;
	width:40%;
	height:27%;
	padding: 1% 0.2%;
	position: absolute;
	top: 48.5%;
}

#cdo{
	width: 20%;
	height: 23%;
	margin-left:0.2%;
	display:inline-block;
}

#bank{
	height: 16%;
	width: 32%;
	margin-left:0.2%;
	display:inline-block;
}

#cdoOwnership{
	height: 16%;
	width: 32%;
	margin-left:7%;
	display:inline-block;
}

#distance{
	height: 25%;
	width: 40%;
	float: left;
	position: absolute;
	top: 75%;
	padding: 1% 0.2%;
	margin-left: 0.2%;
}

#bankList1{
	height: 18%;
	width: 15%;
	margin-left:0.2%;
	display:inline-block;
}

#bankList2{
	height: 18%;
	width: 15%;
	margin-left:0.4%;
	display:inline-block;
}

#path{
	height: 15%;
	width: 5%;
	margin-left: 0.5%;
	display: inline-block;
}

#path,select{
	border-radius:7px;
	border-width:2.5px;
	border-color:rgba(63, 127, 191, 0.9);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#tooltip{
	background:rgba(253, 249, 210, 0.4); 
	border:solid white;
	border-width:0.7px;
	display: none;
	font-size: 16px;
	right: 4px;
	top: 9%;
	padding: 20px;
	position: fixed;
	text-align: left;
	width: 150px;
	height:auto;
	line-height: 200%;
	font-family: "Source Sans Pro";
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
