body{
	position: relative;
	font-size: 18px;
}
#header{
	text-align: center;
	background-color: rgba(26, 139, 239, 0.6);
	color: black;
	font-family: 'Lobster', cursive;
	height: 6%;
	width: 100%;
	padding: 10px 0 10px 0;
	top: 0;
	left: 0;
}

.link{
	stroke: #aaa;
	stroke-width:2.5px;
	opacity: 0.6;
}

.node text{
  font: 15px Helvetica;
  stroke-width:0.8px;
  stroke:rgba(5, 5, 5, 0.7);
}
.node circle{
	stroke: #fff;
	cursor: pointer;
	opacity: 1;
}

#tooltip{
	background:rgba(253, 249, 210, 0.4); 
	border:solid white;
	border-width:0.7px;
	display: none;
	font-size: 85%;
	padding: 0.5%;
	text-align: left;
	top: 28%;
	right: 0.4%;
	position: absolute;
	height:auto;
	line-height: 1;
	font-family: 'Source Serif Pro', serif;
	font-family: 'Source Code Pro', monospace;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#container{
	position: absolute;
	margin-top: 0.1%;
	margin-left: 35%;
}

#introduction{
	width: 30%;
	margin-top: 1%;
	margin-left: 1%;
}

input[type=range]{
    -webkit-appearance:none;
}

input[type=range]::-webkit-slider-runnable-track{
   width:80%;
   height:50%;
   background:#ddd;
   border:none;
   border-radius:5px; 
}

input[type=range]::-webkit-slider-thumb{
	-webkit-appearance:none;
	border:none;
	height:16px;
	width:16px;
	border-radius:50%;
	background:rgba(63, 127, 191, 1);
	margin-top: -4px;
}

input[type=range]:focus{
	outline:none;
}

input[type=range]:focus::-webkit-slider-runnable-track{
	background:#ccc;
}

input[type=range]{
	border:none;
	width: 40%;
}

input[type=range]::-moz-range-track{
	width: 100%;
	height: 70%;
	background:#ddd;
	border:none;
	border-radius: 5px;
}

input[type=range]::-moz-range-thumb{
	border:none;
	height:16px;
	width:16px;
	border-radius:50%;
	background:rgba(63, 127, 191, 1);	
}

input[type=range]:-moz-focusring{
	outline: none;
}

input[type=range]:focus::-moz-range-track{
	background:#ccc;
}

input{
	text-align: center;
}

#cdo{
	width: 30%;
	height: 100%;
	display:inline-block;
	font-family: 'Source Serif Pro', serif;
	font-family: 'Source Code Pro', monospace; 
	text-align: center;
}

#undirect{
	width: 50%;
	height: 100%;
	display:inline-block;
	font-family: 'Source Serif Pro', serif;
	font-family: 'Source Code Pro', monospace; 
	text-align: center;
}

#options{
	width:100%;
	height:auto;
	margin-bottom: 10px;
}

#bank{
	height: 100%;
	width: 32%;
	margin-right: 1%;
	display:inline-block;
	font-family: 'Source Serif Pro', serif;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
}

#cdoOwnership{
	height: 100%;
	width: 35%;
	margin-left: 0.2%;
	display:inline-block;
	font-family: 'Source Serif Pro', serif;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
}

#reset{
	top:107%;
	left: 1%;
	height: 10%;
	width: 10%;
	position: absolute;
	text-align:center;
	display: inline-block;
	font-family: 'Source Serif Pro', serif;
	font-family: 'Source Code Pro', monospace;
	cursor: pointer;
	font-size: 90%;
}
text{
	font-size: 25px;
}

#acknowledgement_button{
	top: 120%;
	left: 1%;
	width: 10%;
	position: absolute;
	float: left;
}
#acknowledge{
	top: 126%;
	margin-left: 1%;
	position: absolute;
	float: left;
	border:none;
	border-width:0.7px;
	display: none;
	font-size: 110%;
	text-align: left;
	width: 30%;
	height: auto;
	font-size: 14px;
}
.button{
	background-color: rgba(26, 139, 239, 0.1);
	border: none;
	color: black;
	padding: 10px 25px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
